body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Share Tech Mono",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c4754;
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainContainer{
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}
#buttons{
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#zero{
  grid-column: 1/3;
}
#equals{
  grid-row: 4/6; 
  grid-column: 4 ; 
}
#displayWrap{
height: 30px;
font-size: 20px;
font-weight: 500;
font-family: digital;
padding: 5px;
}
#display1{
  margin: 0px;
  float: right;
}
#display{
  margin: 0px;
  float: right;
}
button{
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
  font-family: Share Tech Mono, monospace;
  outline: 1px solid black;
  border: none;
  cursor: default;
  background-color: grey;
}
button:hover{
  color: black;
  outline: .5px solid white;
  z-index: 3;
}
#Allclear{
  background-color:rgb(172, 57, 57);
}
#equals{
  background-color: rgb(0, 68, 102);
  position: relative;
}